global:
  scrape_interval: 10s
  evaluation_interval: 10s

rule_files:
  - "/etc/prometheus/alert_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'mssql'
    static_configs:
      - targets: ['mssql:1433']

  - job_name: 'tomcat'
    static_configs:
      - targets: ['tomcat:8080']

  - job_name: 'n8n'
    static_configs:
      - targets: ['n8n:5678']
